{% extends 'base.html' %}

{% load static %}

{% block content %}

<body>
<div class="wrapper">
    <div class="container-left">
        <div class="scrollable-content">
            <header>
                <div class="logo-item">
                    <a href="/"><img class="logo" src="{% static './images/MockWiz-Logo (2).svg' %}"
                                              alt="MockWiz Logo"></a>
                </div>
            </header>
            <main>
                <h1 class="heading">Got professional interviewing experience?</h1>
                <p class="tagline">Earn up to $60 per hour by helping others practice for job interviews.</p>
                <div class="expertForm">
                    <form action="" method="POST" enctype="multipart/form-data"> {% csrf_token %}
                        <ul>
                            <li>
                                {{form.firstName}}
                            </li>
                            <li>
                                {{form.email}}
                            </li>
                            <li>
                                {{form.expertiseFunction}}
                            </li>
                            <li>
                                {{form.yearsInterviewedFor}}
                            </li>
                            <li>
                                <button type="submit" id="ex-button" name="submit-exp">Request Early Access</button>
                            </li>
                            <li>
                                <p class="font-small">By submitting your information, you agree to our <a href="/terms">Terms
                                    of Use & Privacy Policy.</a>
                                </p>
                            </li>
                        </ul>
                        {% if messages %}
                        {% for message in messages %}
                        <!--                {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}-->
                        {% if message.tags %} <p class="successMessage font-small">{{ message }}</p> {% endif %}
                        {% endfor %}
                        {% endif %}
                    </form>
                    <p class="error">{{form.email.errors | striptags}}</p>
                </div>

            </main>
            <footer class="footerStyle">
                <p class="font-small space">Contact Us at <a>hello@mockwiz.com</a></p>
                <p class="font-small space">©2020-21 MockWiz. All rights reserved.
                </p>
            </footer>
        </div>
    </div>
    <div class="container-right">
        <div class="imageStyle"><img src="{% static './images/MockWiz-Cover(1).jpg' %}"></div>
    </div>
</div>
</body>
{% endblock %}